<!-- criando o cabecalho do site -->
<nav class="navbar navbar-light" style="background-color: #a5bad1;">
    <a href="/" class="navbar-brand">
        <img src="/img/100uzi.png" alt="" class="logo1">
    </a>
</nav>